body{

    font-family: "Comic Sans MS";

}
#products {
    /*margin-top: 50px;*/
}
td{
    background-color: white;
    border: solid 5px #eeeeee;
}
th{
    background-color: white;
    border: solid 5px #eeeeee;
}
.silly{
    height: 50px;
    width: 50px
}
.back{
    background-color: black;
}